[Unit]
Description=Telegram Bot Service
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/gervais_bot_telegram
Environment=PYTHONPATH=/home/ubuntu/gervais_bot_telegram
ExecStart=/home/ubuntu/gervais_bot_telegram/env/bin/python /home/ubuntu/gervais_bot_telegram/application.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 
